/*************************************************************/
/*****Top menu Styles****************************************/
ul#topmenu {
	list-style:none;
	padding:0px 0px 0px 140px;
}

ul#topmenu ul{
	list-style:none;
	padding:0px 10px 0px 0px;
	
}

ul#topmenu ul{
	display:none;
	position:absolute;
	left:2px;
	top:100%;
	background-color:#dcdddf;
	margin:0;
	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#333;
	
}

ul#topmenu li:hover>*{
	display:block;
}

ul#topmenu li:focus>*{
	display:block;
}

ul#topmenu li{
position:relative;
display:block;
white-space:nowrap;
font-size:0;
float:left;
}



ul#topmenu li:hover{
	z-index:1;
}


ul#topmenu ul ul{
	position:absolute;
	left:100%;
	top:0;
}

ul#topmenu{
	font-size:0;
	z-index:999;
	position:relative;
	display:inline-block;
	zoom:1;
	
	*display:inline;
}


* html ul#topmenu li a{
	display:inline-block;
	opacity:1;
}


ul#topmenu>li{
	margin:0;
	padding-left:1px;
}

ul#topmenu a:active{
	outline-style:none;
}

ul#topmenu a{
	display:block;
	vertical-align:bottom;
	text-align:middle;
	text-decoration:none;
	font:normal 12px Helvetica,sans-serif;
	color:white;
	cursor:pointer;
	padding:16px 10px 0px 10px;
	font-weight:bolder;
	background-color:transparent;
}


ul#topmenu ul li{
	float:none;
}



ul#topmenu ul a{
	text-align:left;
	padding:4px;
	background-color:#white;
	opacity:0.9;
	background-image:none;
	border-width:0;
	color:white;
	text-decoration:none;
	text-shadow:none;
}


ul#topmenu li:hover>a {
	color:#5599ff;
	background-position:0 100px;
	text-decoration:none;
}

ul#topmenu li a.pressed{
	background-position:0 100px;
	color:#5282b2;
}


ul#topmenu img{
	border:none;
	vertical-align:middle;
	margin-right:10px;
}
ul#topmenu span{
	display:block;
	overflow:visible;
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:0px;
}

ul#topmenu ul li:hover>a,ul#topmenu ul li a.pressed{
	background-image:none;
	color:#FF8C00;
	text-decoration:none;
}

